@*@{
    ViewData["Title"] = "Home Page";
}


<div class="form-group">

    <a class="btn btn-info" asp-controller="Veiculo" asp-action="Index">Veiculos</a>
    <a class="btn btn-info" asp-controller="Vendedor" asp-action="Index">Vendedores</a>

</div>*@
